.clickable{
    transition: .25s;
}

.clickable:hover{
    cursor: pointer;
    opacity: .75;
}

.header-menu{
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    z-index: 991;
}

.bg-my-secondary{
    background-color: rgb( 49, 55, 62 );
}
